.DS_Store
.env
node_modules/
installer.php
# cPanel
/.cpanel/
/.cphorde/
/.htpasswds/
/.ssh/
/.trash/
access-logs
/etc/
/logs/
/mail/
/perl5/
/public_ftp/
/public_html/error_log
/ssl/
/tmp/
www
/.bash_history
/.bash_logout
/.bash_profile
/.bashrc
/.contactemail
/.gitconfig
/.lastlogin
/.viminfo
/.zshrc
